<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>
<body>
<h1>Dog registration</h1>
	
	<form action="#" th:object="${dog}" method="POST"
		th:action="@{/dogs/register}" class="form-horizontal">
 		
 		<div class="form-group">

		</div>
		
		<div class="form-group">
		
			<label for="name" class="control-label col-xs-2">Name of the Dog:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="name"
					th:field="*{name}" placeholder="Enter the name of your dog"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		
		<div class="form-group">
		
			<label for="breed" class="control-label col-xs-2">Breed:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="breed"
					th:field="*{breed}" placeholder="Enter the breed of your dog"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		
		<div class="form-group">
		
			<label for="age" class="control-label col-xs-2">Age:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="age"
					th:field="*{age}" placeholder="Enter how old your dog is in years"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		<div class="form-group">
		
			<label for="gender" class="control-label col-xs-2">Gender:</label>
			<div class="col-xs-2">
				<select th:field="*{gender}"> 
				<option th:value="male">male</option>
				<option th:value="female">female</option>
				</select>
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		<div class="form-group">
		
			<label for="health" class="control-label col-xs-2">Health condition:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="health"
					th:field="*{health}" placeholder="Enter your dogs health condition"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		<div class="form-group">
		
			<label for="hairColour" class="control-label col-xs-2">Hair color:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="hairColour"
					th:field="*{hairColour}" placeholder="Enter the color of your dogs hair"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		<div class="form-group">
		
			<label for="eyeColour" class="control-label col-xs-2">Eye color:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="eyeColour"
					th:field="*{eyeColour}" placeholder="Enter the color of your dogs eyes"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		<div class="form-group">
		
			<label for="weight" class="control-label col-xs-2">Weight:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="weight"
					th:field="*{weight}" placeholder="Enter how much kilos your dog weights"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		<div class="form-group">
		
			<label for="height" class="control-label col-xs-2">Height:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="height"
					th:field="*{height}" placeholder="Enter how tall your dog is in cm"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		<div class="form-group">
		
			<label for="hairLength" class="control-label col-xs-2">Hair length:</label>
			<div class="col-xs-2">
				<select th:field="*{hairLength}"> 
				<option th:value="short">short</option>
				<option th:value="medium">medium</option>
				<option th:value="long">long</option>
				<option th:value="noHair">no hair</option>
				</select>
			</div>
			<div class="col-xs-8"></div>
			
		</div>
		
		
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-primary">Register my dog</button>
			</div>
		</div>
		
		
	</form>

	<div th:replace="footer :: copy"></div>
</body>
</html>