<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Registered dogs</h1>
	
	<script>
		function Clicked(value) {
			location.href = "/dogs/" + value;
		}
	</script>

	<div th:if="${dog}">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name of the dog</th>
					<th>Breed</th>
					<th>Owner</th>
					<th>Age</th>
					<th>Gender</th>
					<th>Health condition</th>
					<th>Hair color</th>
					<th>Eye color</th>
					<th>Weight</th>
					<th>Height</th>
					<th>Hair length</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="dog : ${dog}">
					<td th:text="|${dog.name}|"></td>
					<td th:text="${dog.breed}"></td>
					<td th:text="${dog.ownerName}"></td>
					<td th:text="${dog.age}"></td>
					<td th:text="${dog.gender}"></td>
					<td th:text="${dog.health}"></td>
					<td th:text="${dog.hairColour}"></td>
					<td th:text="${dog.eyeColour}"></td>
					<td th:text="${dog.weight}"></td>
					<td th:text="${dog.height}"></td>
					<td th:text="${dog.hairLength}"></td>
					<td><td>
						<form th:action="@{('/dogs/' + ${dog.id})}">
							<input type="submit" class="btn btn-primary" value="Details" />
						</form>
					</td></td> 
				</tr> 
			</tbody>
		</table>
	</div>
<div th:replace="footer :: copy"></div>
</body>
</html>