<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy">
<title>User profile</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
	<div class="col-xs-24 col-md-9">
	<h1>Form</h1>
	<form action="#" th:action="@{/users/profile}" th:object="${formUser}"
		method="post">
		<div class="form-group">
			Id: <input type="text" th:field="*{id}" readonly="readonly" />
		</div>
		<div class="form-group">
			Username: <input type="text" th:field="*{username}" readonly="readonly"/>
		</div>
		<div class="form-group">
			First name: <input type="text" th:field="*{firstName}" />
		</div>

		<div class="form-group">
			Last name: <input type="text" th:field="*{lastName}" />
		</div>
		<div class="form-group">
			E-mail: <input type="text" th:field="*{email}" readonly="readonly"/>
		</div>
		<div class="form-group">
			Telephone number: <input type="text" th:field="*{telephoneNumber}" />
		</div>
		<div class="form-group">
		Walker:
			True <input type="radio" th:field="*{walker}" th:value="true" />
			False <input type="radio" th:field="*{walker}" th:value="false" />
		</div>

		<p>
			<input type="submit" value="Save" /> 
			<input type="reset" value="Reset" />
		</p>
	</form>
	</div>
	</div>
	
	<div th:replace="footer :: copy"></div>
</body>
</html>