<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>
<h1>User information</h1>
<body>
	<form action="#" th:action="@{/users/profile}" th:object="${formUser}"
		method="post" class="form-horizontal">
		
		<div class="form-group">
			<input type="hidden" th:field="*{id}" />
		</div>
		
		<div class="form-group">
		<label for="username" class="control-label col-xs-2">Username:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="username"
					th:field="*{username}" readonly="readonly"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
		</div>
		
		<div class="form-group">
		<label for="firstName" class="control-label col-xs-2">First name:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="firstName"
					th:field="*{firstName}" placeholder="Enter the user's first name"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
		</div>

		<div class="form-group">
		<label for="lastName" class="control-label col-xs-2">Last name:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="lastName"
					th:field="*{lastName}" placeholder="Enter the user's last name"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
		</div>
		
		<div class="form-group">
		<label for="email" class="control-label col-xs-2">E-mail:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="email"
					th:field="*{email}" readonly="readonly"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
		</div>
		
		<div class="form-group">
			<label for="telephoneNumber" class="control-label col-xs-2">Telephone number:</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="telephoneNumber"
					th:field="*{telephoneNumber}" placeholder="Enter the user's phone number"
					style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
		</div>
		
		<div class="form-group">
			<label for="walker" class="control-label col-xs-2">Walker:</label>
			<div class="col-xs-2">
			<input type="radio" class="form-control" th:field="*{walker}" th:value="true" style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
		</div>
		
		<div class="form-group">
			<label for="walker" class="control-label col-xs-2">Owner:</label>
			<div class="col-xs-2">
			<input type="radio" class="form-control" th:field="*{walker}" th:value="false" style="width: 30em;" />
			</div>
			<div class="col-xs-8"></div>
		</div>

		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-primary">Save user info</button>
			</div>
		</div>
	</form>
	
	<div th:replace="footer :: copy"></div>
</body>
</html>