<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="header :: copy"></head>

<body>
	<h3>Get in touch with <span th:text="${owner.firstName}"></span></h3>
	
	<p>Email: <span th:text="${owner.email}"></span></p>
	
	<p  th:if="${owner.telephoneNumber}">Phone: <span th:text="${owner.telephoneNumber}"></span></p>

	<div th:substituteby="footer :: copy"></div>

</body>
</html>
