<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>
<body>
	<h1>Walkers</h1>
	<div th:if="walkers">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>First name</th>
					<th>Last name</th>
					<th>E-mail</th>
					<th>Telephone number</th>
					<th>Walker</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${walkers}">
					<td th:text="${user.username}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.telephoneNumber}"></td>
					<td th:text="${user.walker}"></td>
					<td><form th:action="@{('/users/walkers/' + ${user.id})}">
							<input type="submit" class="btn btn-primary" value="View" />
						</form></td>

				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="footer :: copy"></div>
</body>
</html>